.input {
  &__remember {
    display: flex;
    align-items: end;
    flex-direction: row-reverse;
    justify-content: start;
    label {
      margin-left: 0.25rem;
    }
  }

  &__wrapper {
    @include flex-col;
    margin-bottom: 1rem;

    input {
      padding: 5px;
    }
  }

  &__update {
    input {
      border: 2px solid $grey;
      border-radius: 3px;
      padding: 10px;
    }
  }

  &__error {
    input {
      border-color: red;
    }
  }
}
