// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$text-color: #2c3e50;

$text-error: red;

// $bg-dark-color: #dfe6ed;
$bg-dark-color: #12002b;

$h3-title-color: #222;

$main-brand-color: #00bc77;

$second-brand-color: #005834;

$purple: #665af5;

$grey: #b8c4ce;

$white: #fff;

/// *********************** BREAKPOINTS
$breakpoint-mobile: 375px;
$breakpoint-mobileXl: 425px;
$breakpoint-tablet: 720px;
$breakpoint-laptop: 920px;
